body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:488px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:306px;
  height:487px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:14px;
  width:1px;
  height:2px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:15px;
  width:1px;
  height:1px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:12px;
  width:1px;
  height:4px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:7px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:10px;
  width:1px;
  height:6px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:7px;
  width:1px;
  height:9px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:8px;
  width:14px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:8px;
  width:7px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:10px;
  width:3px;
  height:4px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:4px;
  width:51px;
  height:14px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:4px;
  width:63px;
  height:14px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:28px;
  width:26px;
  height:26px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:23px;
  height:22px;
}
#u69p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:6px;
}
#u69p000_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:20px;
  height:10px;
}
#u69p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:24px;
  height:22px;
}
#u69p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:26px;
}
#u69p002 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:4px;
  height:4px;
}
#u69p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:40px;
  width:11px;
  height:2px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:33px;
  width:59px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:31px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:71px;
  width:304px;
  height:30px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#9D9D9D;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:111px;
  width:39px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:129px;
  width:23px;
  height:13px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C7C7C7;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:147px;
  width:268px;
  height:1px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:119px;
  width:7px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:156px;
  width:91px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:174px;
  width:23px;
  height:13px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C7C7C7;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:192px;
  width:268px;
  height:1px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:164px;
  width:7px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:201px;
  width:91px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:219px;
  width:35px;
  height:13px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C7C7C7;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:237px;
  width:268px;
  height:1px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:209px;
  width:7px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:252px;
  width:83px;
  height:26px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:257px;
  width:10px;
  height:15px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:258px;
  width:52px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C7C7C7;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
